body, html {
    cursor: url(assets/cursors/cursor32.png), auto;
    margin: 0;
    height: 100%;
    overflow: hidden;
}

/* Container that maintains a 16:9 aspect ratio */
.viewport-u {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100vw;
    height: calc(100vw * 9 / 16);
    max-height: 100vh;
    transform: translate(-50%, -50%);
    background-color: #ccc; /* Just for visual effect */
}

.tempheader {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;

    border-radius: 30vh;
    background:rgba(0, 0, 0, 0.3);

    h1 {
        text-align: center;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
}

.about-me {
    position: absolute;
    height: 16vh;
    width: 16vh;
    background: green;
    top: 4vh;
    left: 4vh;
    border-radius: 2.5vh;
}

.about-me a img{
    position: relative;
    top: 1vh;
    left: 1vh;
    height: 14vh;
    width: 14vh;
    border-radius: 2vh;
}

.icon-individual {
    border: 0px solid rgba(0, 0, 255, 0);
    box-sizing: border-box;
    margin: 20px;
    height: 20vh;
    width: 20vh;
    border-radius: 3vh;
    transition: border 0.2s;

    background: linear-gradient(145deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0));
    ; /* Translucent white background */
            backdrop-filter: blur(10px); /* Blurring the background to create a frosted glass effect */
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3), /* Soft shadow for depth */
                        inset 0 1px rgba(255, 255, 255, 0.8), /* Top highlight for 3D effect */
                        inset 0 -3px 6px rgba(0, 0, 0, 0.1); /* Bottom shadow for 3D effect */
}

.border-overlay {
    box-sizing: border-box;
    position: absolute;
    height: 20vh;
    width: 20vh;
    border: 0px solid rgba(0, 145, 255, 0.4);
    transition: border 0.2s, border-bottom-width 0.2s, border-radius 0.2s, border-image 0.2s, height 0.2s;
    border-radius: 3vh;
    text-align: center;


    box-shadow: 
                0 4px 8px rgba(0, 0, 0, 0.2), /* Outer shadow for depth */
                inset 0 2px 5px rgba(255, 255, 255, 0.8), /* Top highlight for a 3D effect */
                inset 0 -4px 6px rgba(0, 0, 139, 0.4); /* Bottom shadow for depth */
}

.open-text {
    position: relative;
    opacity: 0;
    bottom: 0px;
    color: white;
    font-size: 3.8vh;
    top: 100%;
    font-family:Arial, Helvetica, sans-serif;
    transition: opacity 0.2s ease-in-out;
}

.border-overlay:hover {
    border: 25px solid rgba(0, 145, 255, 0.4);
    animation: jiggle-icon-select 0.2s ease-in-out;
    height: 22vh;
    border-bottom-width: 40px;
    transform: scale(1.1) translateY(0px);
    border-radius: 4vh;
    scale: 0.95;

    box-shadow: 
                0 4px 8px rgba(0, 0, 0, 0.2), /* Outer shadow for depth */
                inset 0 2px 5px rgba(255, 255, 255, 0.8), /* Top highlight for a 3D effect */
                inset 0 -4px 6px rgba(0, 68, 99, 0.6); /* Bottom shadow for depth */

    .open-text {
        opacity: 1;
    }
}

.icon-individual a img{
    margin: 20px;
    height: 15.8vh;
    width: 15.8vh;
    background: linear-gradient(rgba(255,255,255,0.2), rgba(240,240,240,0.2));
    border-radius: 2vh;
    overflow:hidden;
}

.icon-individual img{
    margin: 20px;
    height: 15.8vh;
    width: 15.8vh;
    background: linear-gradient(rgba(255,255,255,0.2), rgba(240,240,240,0.2));
    border-radius: 2vh;
    overflow:hidden;
}

.app-icon-img {
    margin: 20px;
    height: 15.8vh;
    width: 15.8vh;
    background: linear-gradient(rgba(255,255,255,0.2), rgba(240,240,240,0.2));
    border-radius: 2vh;
    overflow:hidden;
}

.icon-individual:hover {
    animation: jiggle-icon-select 0.2s ease-in-out;
    transform: scale(1.1) translateY(2px);
}

@keyframes jiggle-icon-select {
    0% {
        transform: translateY(0) scale(1);
    }
    50% {
        transform: translateY(5px) scale(0.95);
    }
    100% {
        transform: translateY(2px) scale(1.1);
    }
}

@media (min-aspect-ratio: 16/9) {
    /* If the viewport is wider than 16:9, limit by height */
    .viewport-u {
        width: calc(100vh * 16 / 9);
        height: 100vh;
    }
}

@media (max-aspect-ratio: 16/9) {
    /* If the viewport is taller than 16:9, limit by width */
    .viewport-u {
        width: 100vw;
        height: calc(100vw * 9 / 16);
    }
}

@media only screen and (max-width: 1079px) {
    .icon-grid {
        margin-left: auto;
        margin-right: auto;
        width: 80%;
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        align-items: center;
        justify-content: center;
        justify-items: center;
    }

    .viewport-u {
        position: relative;
        width: 100vw;
        height: calc(100vw * 9 / 16);
        max-height: 100vh;
        transform: translate(-50%, -50%);
        background-color: #ccc; /* Just for visual effect */
    }
}

@media only screen and (min-width: 1080px) {
    .icon-grid {
        margin-top: auto;
        margin-bottom: auto;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
        height: 80%;
        max-width: 125vh;
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        align-items: center;
        justify-content: center;
        justify-items: center;
    }

    
}

